@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Typography */
  font-size: 16px;
  font-family: "Poppins", sans-serif;

  /* Colors: */
  --Black: #25272c;
  --Black-75: #25272cbf;
  --Black-50: #25272c80;
  --Black-25: #25272c40;
  --Black-10: #25272c1a;
  --Black-05: #25272c0d;
  --White: #fafafa;
  --Primary: #4c7dfb;
  --Secondary: #9ac2ff;
  --Tertiary: #37408e;
  --Success: #28c166;
  --Error: #ec3a4f;
  --High-Priority: #ee4e39;
  --Medium-Priority: #ea7e1a;
  --Low-Priority: #896b3f;
  --Completed-Checklist: #2f9e62;
}

body {
  color: var(--Black);
  background-color: var(--White);

  display: flex;
  height: 100vh;
  margin: 0;
}

#sidebar {
  background-color: var(--Black-05);
  padding: 26px 32px;
  border-right: 1px solid var(--Black-25);
  width: 256px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  user-select: none;
}

#app-title {
  color: var(--Primary);
  font-weight: 700;
  font-size: 1.625rem;
}

.sidebar-lists-container {
  width: 100%;
  border-top: 1px solid var(--Black-25);
  padding-top: 32px;
}

.sidebar-lists-container .title {
  color: var(--Black-50);
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.lists-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.list-sidebar-element {
  color: var(--Black);
  font-weight: 500;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: 100ms;
}

.list-sidebar-element:hover {
  background-color: var(--Black-10);
  transition: 100ms;
}

.lower-sidebar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
}

.credits {
  color: var(--Black-50);
  font-size: 0.875rem;
}

.credits a {
  text-decoration: none;
  font-weight: 500;
}

.credits a,
.credits a:visited {
  color: var(--Primary);
}
