@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Typography */
  font-size: 16px;
  font-family: "Poppins", sans-serif;

  /* Colors: */
  --Black: #25272c;
  --Black-75: #25272cbf;
  --Black-50: #25272c80;
  --Black-25: #25272c40;
  --Black-10: #25272c1a;
  --Black-05: #25272c0d;
  --White: #fafafa;
  --Primary: #4c7dfb;
  --Secondary: #9ac2ff;
  --Tertiary: #37408e;
  --Success: #28c166;
  --Error: #ec3a4f;
  --High-Priority: #ee4e39;
  --Medium-Priority: #ea7e1a;
  --Low-Priority: #896b3f;
  --Completed-Checklist: #2f9e62;
  --List-Background-Gradient: linear-gradient(90deg, #66a2e8 0%, #989be9 100%);
}

body {
  color: var(--Black);
  background-color: var(--White);

  display: flex;
  min-height: 100vh;
  margin: 0;
}

h1,
h2 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 2.534rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

p {
  margin: 0;
}

/* Sidebar */

#sidebar {
  position: fixed;
  background-color: var(--Black-05);
  padding: 26px 32px;
  border-right: 1px solid var(--Black-25);
  width: 256px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  user-select: none;
}

#app-title {
  color: var(--Primary);
  font-weight: 700;
  font-size: 1.625rem;
}

.sidebar-lists-container {
  width: 100%;
  border-top: 1px solid var(--Black-25);
  padding-top: 32px;
}

.sidebar-lists-container .title {
  color: var(--Black-50);
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.user-lists .list-title-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

#create-list-button {
  background: none;
  font-size: 1.2rem;
  color: var(--Black-50);
  width: 16px;
  height: 16px;
}

.lists-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.list-sidebar-element {
  color: var(--Black);
  font-weight: 500;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  gap: 4px;
  transition: 100ms;
}

.list-sidebar-element:hover {
  background-color: var(--Black-10);
  transition: 100ms;
}

.lower-sidebar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
}

#credits {
  color: var(--Black-50);
  font-size: 0.875rem;
}

#credits a {
  text-decoration: none;
  font-weight: 500;
}

#credits a,
#credits a:visited {
  color: var(--Primary);
}

/* List content */

#list-page {
  display: flex;
  flex-direction: column;
  width: calc(100% - 256px);
  margin-left: auto;
}

#list-background {
  height: 152px;
  background: var(--List-Background-Gradient);
}

.list-container {
  margin: 48px auto;
  width: clamp(400px, 50vw, 832px);
}

#list-title {
  margin-bottom: 48px;
}

#new-task-button {
  width: 100%;
  padding: 24px 32px;
  font-weight: 400;
  color: var(--Black-50);
  border: 1px solid var(--Black-25);
  border-radius: 8px;
  background-color: var(--White);
}

.empty-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 48px auto;
  width: clamp(400px, 50vw, 800px);
  text-align: center;
  gap: 24px;
}

.empty-page .empty-title {
  color: var(--Primary);
  font-weight: 700;
  font-size: 2.5rem;
}

.empty-page .empty-subtitle {
  font-size: 1.2rem;
  color: var(--Black-50);
}

.hide {
  display: none;
}

/* Tasks */

#tasks-container,
#completed-tasks-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.task {
  background-color: var(--Black-05);
  padding: 24px 32px;
  border: 1px solid var(--Black-25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.task .complete-task-button {
  display: block;
  min-width: 32px;
  height: 32px;
  background: url(img/svg/to-complete-button.svg);
  cursor: pointer;
}

.task .task-information {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 24px;
}

.task .main-information {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task .title {
  color: var(--Black);
  font-weight: 500;
  font-size: 1.375rem;
}

.task .description {
  color: var(--Black-50);
}

.task .sub-information {
  display: flex;
  gap: 24px;
  font-weight: 400;
}

.task .priority.low {
  color: var(--Low-Priority);
}

.task .priority.medium {
  color: var(--Medium-Priority);
}

.task .priority.high {
  color: var(--High-Priority);
}

.task .priority-container,
.task .date-container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.task .date {
  color: var(--Black-75);
}

/* Completed tasks */
.completed-tasks-section {
  border-top: 1px solid var(--Black-25);
  margin-top: 32px;
  padding-top: 32px;
}

.completed-tasks-title-section {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 24px;
}

#completed-tasks-container {
  display: none;
}

#completed-tasks-container .task .title {
  text-decoration: line-through;
  color: var(--Black-75);
}

#completed-tasks-container .task .complete-task-button {
  background: url(img/svg/completed-task.svg);
}

.expand-tasks {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url(img/svg/expand-tasks.svg);
  transform: rotate(0deg);
  transition: 300ms;
}

.completed-tasks-section.show .expand-tasks {
  transform: rotate(180deg);
  transition: 300ms;
}

.completed-tasks-section.show #completed-tasks-container {
  display: flex;
}

/* Dialogs */

dialog {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: var(--White);
  border: none;
  border-radius: 16px;
}

dialog::backdrop {
  background-color: #00000099;
}

dialog .dialog-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  gap: 8px;
}

input[type="text"] {
  font-family: inherit;
  font-size: 1.375rem;
  font-weight: 500;
  padding: 2px 4px 0 4px;
  background-color: var(--White);
  color: var(--Black);
  border: none;
  border-bottom: 3px solid;
  caret-color: var(--Primary);
}

input[type="text"]:placeholder-shown {
  border-bottom-color: var(--Black-25);
  transition: 150ms;
}

input[type="text"]:focus,
input[type="text"]:not(:placeholder-shown) {
  border-bottom-color: var(--Primary);
  transition: 150ms;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]::placeholder {
  font-weight: 400;
  color: var(--Black-50);
}

button {
  font-family: inherit;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  user-select: none;
}

button:focus {
  outline: 2px solid var(--Primary);
  outline-offset: 2px;
}

button.primary {
  background-color: var(--Primary);
  color: var(--White);
  transition: background-color 150ms;
}

button.primary:hover {
  background-color: #79a7fc;
}

button.primary:active {
  background-color: #3352cc;
}

button.secondary {
  background-color: #c9cbcf;
  color: var(--Black-75);
  transition: background-color 150ms;
}

button.secondary:hover {
  background-color: #a7a9af;
}

button.secondary:active {
  background-color: #878a92;
}

/* New list dialog */

dialog#new-list .title-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

dialog#new-list .title-icon-input {
  width: 32px;
  height: 32px;
  padding: 4px;
  border: 2px solid var(--Black-25);
  border-radius: 8px;
  cursor: pointer;
}

/* New task dialog */

textarea {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  color: var(--Black-75);
  background-color: var(--Black-05);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  outline: none;
  resize: none;
}

textarea::placeholder {
  color: var(--Black-50);
}

dialog#new-task .task-select-inputs {
  display: flex;
  align-items: center;
  gap: 8px;
}

.select-input {
  position: relative;
}

.select-input .select-button {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--Black-50);
  font-weight: 400;
  padding: 6px 10px;
  background-color: var(--White);
  border: 1px solid var(--Black-25);
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
}

.select-input .options {
  position: fixed;
  display: none;
  flex-direction: column;
  background-color: var(--White);
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  cursor: pointer;
}

.options :first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.options :last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.options .option {
  background-color: var(--White);
  padding: 8px;
  width: 100%;
  transition: background-color 150ms;
  user-select: none;
}

.options .option:hover {
  background-color: #d3d3d3;
  transition: background-color 150ms;
}

.select-input.expand .options {
  display: flex;
}
