@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Typography */
  font-size: 16px;
  font-family: "Poppins", sans-serif;

  /* Colors: */
  --Black: #25272c;
  --Black-75: #25272cbf;
  --Black-50: #25272c80;
  --Black-25: #25272c40;
  --Black-10: #25272c1a;
  --Black-05: #25272c0d;
  --White: #fafafa;
  --Primary: #4c7dfb;
  --Secondary: #9ac2ff;
  --Tertiary: #37408e;
  --Success: #28c166;
  --Error: #ec3a4f;
  --High-Priority: #ee4e39;
  --Medium-Priority: #ea7e1a;
  --Low-Priority: #896b3f;
  --Completed-Checklist: #2f9e62;
  --List-Background-Gradient: linear-gradient(90deg, #66a2e8 0%, #989be9 100%);
}

body {
  color: var(--Black);
  background-color: var(--White);

  display: flex;
  min-height: 100vh;
  margin: 0;
}

h1,
h2 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 2.534rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

p {
  margin: 0;
}

/* Sidebar */

#sidebar {
  position: fixed;
  background-color: var(--Black-05);
  padding: 26px 32px;
  border-right: 1px solid var(--Black-25);
  width: 256px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  user-select: none;
}

#app-title {
  color: var(--Primary);
  font-weight: 700;
  font-size: 1.625rem;
}

.sidebar-lists-container {
  width: 100%;
  border-top: 1px solid var(--Black-25);
  padding-top: 32px;
}

.sidebar-lists-container .title {
  color: var(--Black-50);
  font-size: 0.9rem;
  font-weight: 400;
}

.user-lists .list-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

#create-list-button {
  padding: 4px;
  transition: 100ms;
}

#create-list-button:hover {
  background-color: var(--Black-10);
  transition: 100ms;
}

#create-list-button .create-list-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: var(--Black-50);
}

.lists-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.list-sidebar-element {
  color: var(--Black);
  font-weight: 500;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  gap: 4px;
  transition: 200ms;
}

.list-sidebar-element .list-sidebar-element-icon {
  display: block;
  min-width: 24px;
  max-height: 24px;
}

.list-sidebar-element .list-sidebar-element-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-sidebar-element.selected {
  font-weight: 700;
  transition: 200ms;
}

.list-sidebar-element:hover,
.list-sidebar-element.selected {
  background-color: var(--Black-10);
  transition: 200ms;
}

.lower-sidebar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
}

#credits {
  color: var(--Black-50);
  font-size: 0.875rem;
}

#credits a {
  text-decoration: none;
  font-weight: 500;
}

#credits a,
#credits a:visited {
  color: var(--Primary);
}

/* List content */

#list-page {
  display: flex;
  flex-direction: column;
  width: calc(100% - 256px);
  margin-left: auto;
}

#list-background {
  height: 152px;
  background: var(--List-Background-Gradient);
}

.list-container {
  margin: 48px auto;
  width: clamp(400px, 50vw, 832px);
}

.title-section {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  gap: 26px;
  margin-bottom: 48px;
  word-wrap: break-word;
}

.title-section #list-title {
  min-width: 0;
  min-height: 0;
}

.title-section .options-controller-button {
  padding: 8px;
  background-color: var(--White);
  transition: background-color 200ms;
}

.title-section .options-controller-button:hover,
.title-section .options-controller-button:focus {
  background-color: var(--Black-10);
  transition: background-color 200ms;
}

.title-section .list-more-options .button-icon {
  fill: var(--Black);
  width: 35px;
  height: 35px;
}

#new-task-button {
  width: 100%;
  padding: 24px 32px;
  font-weight: 400;
  color: var(--Black-50);
  border: 1px solid var(--Black-25);
  border-radius: 8px;
  background-color: var(--White);
  transition: background-color 200ms;
}

#new-task-button:hover {
  background-color: hsl(0, 0%, 94%);
  transition: background-color 200ms;
}

.empty-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 48px auto;
  width: clamp(400px, 50vw, 800px);
  text-align: center;
  gap: 24px;
}

.empty-page .empty-title {
  color: var(--Primary);
  font-weight: 700;
  font-size: 2.5rem;
}

.empty-page .empty-subtitle {
  font-size: 1.2rem;
  color: var(--Black-50);
}

.hide {
  display: none;
}

/* Tasks */

#tasks-container,
#completed-tasks-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.task {
  background-color: var(--Black-05);
  padding: 24px 32px;
  border: 1px solid var(--Black-25);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 32px auto max-content;
  align-items: center;
  min-height: 0;
  min-width: 0;
  gap: 32px;
  cursor: pointer;
  transition: background-color 200ms;
}

.task > div {
  min-height: 0;
  min-width: 0;
}

.task:hover {
  background-color: hsl(195, 10%, 87%);
  transition: background-color 200ms;
}

.task .complete-task-button {
  display: block;
  min-width: 32px;
  height: 32px;
  cursor: pointer;
}

.task .main-information {
  display: flex;
  flex-direction: column;
}

.task .title {
  color: var(--Black);
  font-weight: 500;
  font-size: 1.375rem;
}

.task .description {
  color: var(--Black-50);
}

.task .title,
.task .description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.task .sub-information {
  display: flex;
  gap: 12px;
  font-weight: 400;
}

.task .priority.low {
  color: var(--Low-Priority);
  fill: var(--Low-Priority);
}

.task .priority.medium {
  color: var(--Medium-Priority);
  fill: var(--Medium-Priority);
}

.task .priority.high {
  color: var(--High-Priority);
  fill: var(--High-Priority);
}

.task .priority,
.task .date {
  display: flex;
  gap: 4px;
  align-items: center;
}

.task .date {
  color: var(--Black-75);
  fill: var(--Black-75);
}

.task .date-icon,
.task .priority-icon {
  display: block;
  min-width: 24px;
  max-height: 24px;
}

/* Completed tasks */
.completed-tasks-section {
  border-top: 1px solid var(--Black-25);
  margin-top: 32px;
  padding-top: 32px;
}

.completed-tasks-title-section {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 24px;
}

#completed-tasks-container {
  display: none;
}

#completed-tasks-container .task .title {
  text-decoration: line-through;
  color: var(--Black-75);
}

.expand-tasks {
  width: 24px;
  height: 24px;
  cursor: pointer;
  /* Set 360 degrees to rotate to right instead to the left */
  transform: rotate(360deg);
  transition: 300ms;
}

.completed-tasks-section.show .expand-tasks {
  transform: rotate(180deg);
  transition: 300ms;
}

.completed-tasks-section.show #completed-tasks-container {
  display: flex;
}

/* Dialogs */

dialog {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: var(--White);
  border: none;
  border-radius: 16px;
  animation-name: showDialog;
  animation-duration: 300ms;
}

dialog.closing {
  animation-name: closeDialog;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

dialog::backdrop {
  background-color: #00000099;
  animation-name: showDialogBackdrop;
  animation-duration: 300ms;
}

dialog.closing::backdrop {
  animation-name: closeDialogBackdrop;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

dialog#new-list,
dialog#edit-list,
dialog#new-task,
dialog#edit-task {
  gap: 16px;
}

dialog#new-task,
dialog#edit-task {
  width: 550px;
}

dialog .dialog-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  gap: 8px;
}

input[type="text"] {
  font-family: inherit;
  font-size: 1.375rem;
  font-weight: 500;
  padding: 2px 55px 0 4px;
  background-color: var(--White);
  color: var(--Black);
  border: none;
  border-bottom: 3px solid;
  caret-color: var(--Primary);
  width: 100%;
}

input[type="text"]:placeholder-shown {
  border-bottom-color: var(--Black-25);
  transition: 200ms;
}

input[type="text"]:focus,
input[type="text"]:not(:placeholder-shown) {
  border-bottom-color: var(--Primary);
  transition: 200ms;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]::placeholder {
  font-weight: 400;
  color: var(--Black-50);
}

button {
  font-family: inherit;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  user-select: none;
}

button:focus {
  outline: 2px solid var(--Primary);
  outline-offset: 2px;
}

button.primary {
  background-color: var(--Primary);
  color: var(--White);
  transition: background-color 200ms;
}

button.primary:hover {
  background-color: #79a7fc;
}

button.primary:active {
  background-color: #3352cc;
}

button.primary:disabled {
  background-color: #b3d1ff;
  color: #f0f6ff;
  cursor: not-allowed;
}

button.secondary {
  background-color: #c9cbcf;
  color: var(--Black-75);
  transition: background-color 200ms;
}

button.secondary:hover {
  background-color: #a7a9af;
}

button.secondary:active {
  background-color: #878a92;
}

/* New list dialog */
dialog#new-list,
dialog#edit-list {
  width: 550px;
}

dialog#new-list .title-container,
dialog#edit-list .title-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

dialog#new-list .title-icon-input,
dialog#edit-list .title-icon-input {
  width: 32px;
  height: 32px;
  padding: 4px;
  border: 2px solid var(--Black-25);
  border-radius: 8px;
  cursor: pointer;
}

#list-title-input {
  width: 100%;
}

/* New task dialog */

/* Task information */

textarea {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  color: var(--Black-75);
  background-color: var(--Black-05);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 100%;
  outline: none;
  resize: none;
}

textarea::placeholder {
  color: var(--Black-50);
}

/* Inputs */

/* Text and textarea input */
.text-input-container,
.textarea-input-container {
  position: relative;
}

.textarea-input-container {
  display: flex;
}

.text-counter {
  position: absolute;
  bottom: 4px;
  opacity: 0;
  font-size: 0.8rem;
  color: var(--Primary);
  user-select: none;
  transition: opacity 200ms;
}

input[type="text"] + .text-counter {
  right: 4px;
}

textarea + .text-counter {
  right: 8px;
}

input[type="text"]:focus + .text-counter,
textarea:focus + .text-counter {
  opacity: 1;
  transition: opacity 200ms;
}

/* Date input */
#date-input input[type="date"] {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 77px;
}

/* Change button and label color when selecting a date */
#date-input:not([data-value=""]) button {
  border-color: var(--Primary);
  color: var(--Primary);
  fill: var(--Primary);
}

/* Select input grid */
.select-input-grid .select-button {
  padding: 8px;
  border: 1px solid var(--Primary);
}

.select-input-grid .button-icon {
  fill: var(--Primary);
}

.select-input-grid .options-grid {
  position: fixed;
  display: none;
  grid-template-columns: repeat(4, 60px);
  grid-auto-rows: 60px;
  padding: 6px;
  gap: 6px;
}

.select-input-grid.expand .options-grid {
  display: grid;
}

.options-grid .option {
  padding: 10px;
  fill: var(--Black-75);
  border: 1px solid var(--Black-25);
  border-radius: 6px;
  background-color: var(--White);
  cursor: pointer;
  transition: background-color 200ms;
}

.options-grid .option:hover {
  background-color: var(--Black-10);
  transition: background-color 200ms;
}

/* Select inputs */
dialog#new-task .task-select-inputs,
dialog#edit-task .task-select-inputs {
  display: flex;
  align-items: center;
  gap: 8px;
}

.select-input,
.select-input-grid,
.options-controller {
  position: relative;
}

.select-input .select-button,
.select-input-grid .select-button,
#date-input .date-button,
.options-controller .options-controller-button {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--Black-50);
  fill: var(--Black-50);
  font-weight: 400;
  background-color: var(--White);
  border-radius: 8px;
  user-select: none;
}

.select-input .button-icon,
.select-list .button-icon,
#date-input .button-icon {
  min-width: 24px;
  max-height: 24px;
}

.select-input .select-button,
#date-input .date-button {
  padding: 6px 10px;
  border: 1px solid var(--Black-25);
}

#select-list button {
  max-width: 180px;
}

#select-list .button-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-input .options,
.select-input-grid .options-grid,
.options-controller .options {
  position: fixed;
  display: none;
  flex-direction: column;
  background-color: var(--White);
  color: var(--Black);
  border: 1px solid #a3a3a3;
  border-radius: 8px;
}

.options :first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.options :last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.options .option {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--White);
  color: var(--Black);
  fill: var(--Black);
  padding: 8px;
  width: 100%;
  transition: background-color 200ms;
  cursor: pointer;
  user-select: none;
}

.options .option:hover {
  background-color: #e8e8e8;
  transition: background-color 200ms;
}

.select-input.expand .options,
.options-controller.expand .options {
  display: flex;
}

/* Select priority input color depending to selected value */
#select-priority[data-value="Low"] .select-button {
  border-color: var(--Low-Priority);
  color: var(--Low-Priority);
  fill: var(--Low-Priority);
}

#select-priority[data-value="Medium"] .select-button {
  border-color: var(--Medium-Priority);
  color: var(--Medium-Priority);
  fill: var(--Medium-Priority);
}

#select-priority[data-value="High"] .select-button {
  border-color: var(--High-Priority);
  color: var(--High-Priority);
  fill: var(--High-Priority);
}

/* Select priority input elements text color */
#select-priority .option[data-value="Priority"] {
  color: var(--Black-50);
  fill: var(--Black-50);
}

#select-priority .option[data-value="Low"] {
  color: var(--Low-Priority);
  fill: var(--Low-Priority);
}

#select-priority .option[data-value="Medium"] {
  color: var(--Medium-Priority);
  fill: var(--Medium-Priority);
}

#select-priority .option[data-value="High"] {
  color: var(--High-Priority);
  fill: var(--High-Priority);
}

/* List input button color */
#select-list:not([data-value=""]) .select-button {
  border-color: var(--Completed-Checklist);
  color: var(--Completed-Checklist);
  fill: var(--Completed-Checklist);
}

#select-list .option {
  color: var(--Black-75);
  fill: var(--Black-75);
}

/* Options controller colors */
.task-more-options .delete-task,
.list-more-options .delete-list {
  color: var(--Error);
  fill: var(--Error);
}

/* SVG icons sizes */
.button-icon,
.option-icon {
  width: 24px;
  height: 24px;
}

/* Task details */
dialog#task-details {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 600px;
}

dialog#task-details .actions-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: end;
  gap: 4px;
}

dialog#task-details .actions-container button {
  background-color: var(--White);
  padding: 6px;
  fill: var(--Black);
  transition: background-color 200ms;
}

dialog#task-details .actions-container button:hover {
  background-color: var(--Black-10);
  transition: background-color 200ms;
}

dialog#task-details .actions-container .button-icon {
  display: block;
}

dialog#task-details .main-information {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.main-information .task-title {
  color: var(--Black);
  font-weight: 600;
  font-size: 1.6rem;
  word-wrap: break-word;
}

.main-information .task-description {
  font-size: 1.1rem;
  color: var(--Black-75);
  word-wrap: break-word;
}

dialog#task-details .secondary-information {
  display: flex;
  gap: 24px;
  border-top: 1px solid var(--Black-25);
  padding-top: 16px;
}

.secondary-information .info-element {
  display: flex;
  gap: 4px;
}

.info-element .icon {
  min-width: 24px;
  max-height: 24px;
}

.info-element.task-date {
  color: var(--Primary);
  fill: var(--Primary);
}

.info-element.task-priority[data-value="Low"] {
  color: var(--Low-Priority);
  fill: var(--Low-Priority);
}

.info-element.task-priority[data-value="Medium"] {
  color: var(--Medium-Priority);
  fill: var(--Medium-Priority);
}

.info-element.task-priority[data-value="High"] {
  color: var(--High-Priority);
  fill: var(--High-Priority);
}

.info-element.task-list {
  max-width: 160px;
  color: var(--Completed-Checklist);
  fill: var(--Completed-Checklist);
}

.task-list .label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Delete list and Delete task */
dialog#delete-list,
dialog#delete-task {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;
  width: 400px;
  color: var(--Black);
}

dialog#delete-list .message,
dialog#delete-task .message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

dialog#delete-list .message-title,
dialog#delete-task .message-title {
  font-weight: 600;
  font-size: 1.4rem;
}

dialog#delete-list .sub-message,
dialog#delete-task .sub-message {
  color: var(--Black-75);
}

dialog#delete-list button.primary,
dialog#delete-task button.primary {
  background-color: var(--Error);
}

.list-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Black-05);
  border-radius: 8px;
  padding: 8px 16px;
}

.list-info .list-icon {
  display: block;
  fill: var(--Primary);
  width: 60px;
  height: 60px;
}

.list-info .list-title {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--Primary);
}

/* Notifications */
#notifications-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  width: 350px;
  bottom: 16px;
  right: 16px;
}

.notification {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: hsl(143, 47%, 45%);
  color: var(--White);
  padding: 26px 22px;
  border-radius: 8px;
  width: 100%;
  user-select: none;
  animation-name: showNotification;
  animation-duration: 300ms;
}

.notification.closing {
  animation-name: closeNotification;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.notification-icon {
  display: block;
  width: 26px;
  height: 26px;
}

.notification-label {
  font-size: 1.1rem;
  font-weight: 600;
}

.close-notification {
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  right: 8px;
  top: 8px;
  background-color: #00000000;
  padding: 6px;
  transition: 200ms;
}

.close-notification:hover {
  background-color: #00000018;
  transition: background-color 200ms;
}

.notification:hover .close-notification {
  visibility: visible;
  opacity: 1;
  transition: 200ms;
}

.notification-icon,
.close-notification .button-icon {
  fill: var(--White);
}

.close-notification .button-icon {
  display: block;
  width: 16px;
  height: 16px;
}

.button-icon svg {
  display: block;
}

/* Animations */

@keyframes showDialog {
  from {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes showDialogBackdrop {
  from {
    background-color: #00000000;
  }
  to {
    background-color: #00000099;
  }
}

@keyframes closeDialog {
  from {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  to {
    transform: translate(0px, 100px);
    opacity: 0;
  }
}

@keyframes closeDialogBackdrop {
  from {
    background-color: #00000099;
  }
  to {
    background-color: #00000000;
  }
}

@keyframes showNotification {
  from {
    transform: translate(100px, 0px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes closeNotification {
  from {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  to {
    transform: translate(100px, 0px);
    opacity: 0;
  }
}

/* Media queries */
@media only screen and (max-width: 1100px) {
  .task .sub-information {
    flex-direction: column;
    gap: 0;
  }
}
